*{
    margin:0;
    padding:0;
}
.aboutme-wrapper{
        max-width:100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:25px;
        
}
.aboutme-wrapper h1{
 font-size: 40px;
 font-weight: lighter;
 line-height: 5rem;
}
.aboutme-wrapper h2{
    font-size:30px;
    font-weight: bold;
    margin:0px;
}
.aboutme-wrapper h3{
    font-size:15px;
    font-weight:thin;
    margin:0px;
}
.aboutme-wrapper h4{
    padding:25px;
}

.material-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0px 25px 0px -190px;
    font-size:30px;
}
.aboutme-wrapper h3{
    font-weight: lighter;
}
.description{
    padding:25px;
    
}
.skills{
    font-weight: bold;
}
.myCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px;
    max-width:100%;
    align-content: center;
    vertical-align: center;
    margin-top:-45px;
}
.mdc-card h1{
    padding:50px
}
.homeLink{
    margin:25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.jozeif{
    height: 50vh;
    width: 50vh;
    padding:25px;
     
}

/*media styles for larger screens*/
@media only screen 
   and (min-width : 768px) {
   /* Styles here */
.aboutme-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
   .aboutme-wrapper h1{
      font-size: 90px;
      text-align: left;
       
   }
   .aboutme-wrapper h2{
       text-align: left;
       padding:25px;
       font-size: 90px;
   }
   .aboutme-wrapper h3{
       text-align: left;
       padding:25px;
       font-size:35px;
   }
   .aboutme-wrapper h4{
     text-align:left;
     padding:25px;
     font-size:35px;
     font-weight: thin;
   }
   .description{
       font-size:35px;
       padding:25px;
       margin:0px 100px 100px 100px;
   }
   .myCards{
       display: flex;
       flex-direction: row;
       justify-content: center;
       flex-wrap: wrap;
       margin:25px;
       padding: 25px;
       max-width:100%;
   }
   .my-card__media--16-9{
       padding:50px;
   }
   .mdc-card mdc-card outlined{
       margin:55px;
   }
   .homeLink{
       text-align: left;
   }
   .jozeif{
   align-self: center;
   margin-top:75px;
   }



   /* end of media styles for larger screens*/
 
}


