*{
    margin:0;
    padding:0;
}

.project{
    max-width: 100%;
height: 100vh;



}
.project h1{
 text-align: center;
 padding:25px;
}
.myInfoCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    margin:5px 0px;
   
}
.flippy-container{
    width:100%;
    margin:5px;
}
.frontSide{
    padding:10px;
    
}
.frontSide p{
  text-align: center;
  padding:5px;
  color: white;
  
}

@media only screen 
   and (min-width : 768px) {
    .myInfoCard{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding:10px;
        margin:5px 0px;
    }
       .myInfoCard img{
          width: 100%;
          height: inherit;
          padding:20px;
       }
       .frontSide{
           padding:5px;
        align-self: center;
       }
       .frontSide p{
        text-align: center;
        padding:5px;
        color: white;
        margin-top:-15px;
      }
       
       
   }
   @media only screen and (min-width:1200px) {
    .myInfoCard img{
        width: 100%;
        height: inherit;
        padding:20px;
        align-items: center;
     }
     .flippy-container{
         width:30%;
     }
   }



