*{
    margin:0;
    padding:0;
}

.project{
    max-width: 100%;
    background-color: black;
    height: auto;
   
}
.project-title-bar{
    background-color: #000000;
    height: 30vh;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start; 
    align-items: flex-start;   
}
.project-title-bar h1{
    margin-left: 16px;
}
.myInfoCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #161616;
    padding:10px;
    margin:10px 10px 0px 10px;
    height: auto;
}

.col{
   margin: 10px;
   

}



 

@media only screen 
   and (min-width : 768px) {
    .myInfoCard{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding:10px;
        margin:10px 10px 0px 10px;
        height: auto;
    }
    .col{
        width:50%;
    }
    .card{
        width: 100%;
        height: 50%;
        align-self: center;
    }
  
    
          
   }
   @media only screen and (min-width:1200px) and (max-width:1920px) {
       .project{
           min-height: 100vh;
       }
    .myInfoCard{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background: #161616;
        padding:10px;
        margin:20px 20px 0px 20px;
        height: auto;
    }
    .project-title-bar h1{
        font-size:65px;
    }
    .card{
        width: 100%;
        height: 625px;
        align-self: center;
    }
}
    @media only screen and (min-width:1921px) and (max-width:2560px) {
        .project{
            min-height: 100vh;
        }
        .myInfoCard{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: #161616;
            padding:10px;
            margin:20px 20px 0px 20px;
            height: auto;
        }
        .project-title-bar h1{
            font-size:100px;
        }
        .card{
            width: 100%;
            height: 825px;
            align-self: center;
        }
    }
    

   
   
   



