*{padding: 0;
    margin:0;
    
    
}
body{
  
}

    .mylanding{
        max-width:100%;
        height: 100vh;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin:0px 0px 0px 0px;
        background:#182870;

    }
    .mylanding h1{
      font-size: 50px;
      
      
        
    }
   .mylanding h2{
     font-size: 35px;
    
     
   }
   .mylanding h3{
      font-size: 25px;
      
  
       
   }
   @media only screen 
   and (min-width : 768px) {
   /* Styles here */
   .mylanding h1{
     font-size: 100px;
   }
   .mylanding h2{
     font-size:75px;
   }
   .mylanding h3{
     font-size:50px;
   }
}
    