*{
    margin:0;
    padding:0;
}
.aboutme-wrapper{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;     
        height: 100vh;
}
.aboutme-wrapper img{
    padding:0px 0px 15px 0px;
 }

.aboutme-wrapper h2{
 font-size: 40px;
 font-weight: lighter;
 line-height: 5rem;
 align-self: center;
}
.aboutme-wrapper p{
    margin:0px 5px 0px 5px;
    padding: 0px 15px 0px 15px;
    text-align: justify;
    align-self: center;
}
span{
    font-size: 50px;
    color: blue;
}
.skillTitle{
    font-size: 30px;
}

.skillTitle{
    font-size: 40px;
    font-weight: lighter;
    line-height: 5rem;
    align-self: center; 
    padding: 10px;
}
.skillSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skillCards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
} 
.skillCard1{
    width: 75%;
}



/*media styles for larger screens*/
@media only screen 
   and (min-width : 768px) {
   /* Styles here */
.aboutme-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.aboutme-wrapper img{
   height: 400px; 
   width: 400px;
}
.aboutme-wrapper p{
    font-size: 35px;
    margin: 0px 20px 0px 20px;
    padding: 0px 35px 0px 35px;
}
   .aboutme-wrapper h2{
       font-size: 50px;
       padding: 25px;
   }
   .skillCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


 /* end of media styles for larger screens*/
}


