*{
    margin:0;
    padding:0;
}
.aboutme-wrapper{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;      
}
.aboutme-wrapper img{
    padding:0px 0px 15px 0px;
 }

.aboutme-wrapper h2{
 font-size: 40px;
 font-weight: lighter;
 line-height: 5rem;
 align-self: center;
}
.aboutme-wrapper p{
    margin:0px 5px 0px 5px;
    padding: 0px 15px 0px 15px;
    text-align: justify;
}
span{
    font-size: 30px;
}
.skillTitle{
    font-size: 30px;
}
svg .reactIc{
    fill: black;
    height: 55px;
    width: 55px;
    align-self: flex-start;
    margin:0px 5px 0px 5px;
    

}


/*media styles for larger screens*/
@media only screen 
   and (min-width : 768px) {
   /* Styles here */
.aboutme-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.aboutme-wrapper img{
   height: 400px; 
   width: 400px;
}
.aboutme-wrapper p{
    font-size: 35px;
    margin: 0px 20px 0px 20px;
    padding: 0px 35px 0px 35px;
}
   .aboutme-wrapper h2{
       font-size: 50px;
       padding: 25px;
   }  /* end of media styles for larger screens*/
}


