*{
    margin: 0;
    padding: 0;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: '15px'
   
}
.contact h1{
    padding:25px;
    
}
#firstName{
    
}