*{padding: 0;
margin:0;}

.title-bar{
    max-width: 100%;
    
}
.navbar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 1.0);
    color: white;
    align-content: center;
    height: auto;
}
.navbar h1{
    
    font-size:20px;
    padding:5px;
}
.desktop-nav{
  display: none;
  
}
ul{
    margin: 5px;
}
#link{
    list-style-type: none;
    text-decoration: none;
    padding:5px;
    color: white;
}

.aboutme-wrapper{
    text-align: center;
}

/* Position and sizing of burger button */
.bm-burger-button {
    align-self: center;
    position: absolute;
    width: 26px;
    height: 15px;
    left: 16px;
    top: 16px;

  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: white;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: white;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: black;
    padding: 2.5em 0em 0em;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    width: 100%;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  .menu-item{
      color:white;
      text-decoration: none;
      padding:25px;
      width:100%;
      border: none;
      font-size:25px;
  }
  .menu-item:hover{
      width:100%;
      text-decoration: none;
      color: red;
      
  }
  .menu-item:visited{
      text-decoration: none;
  }
  .menu-item:target{
      text-decoration: none;
      border: none;
  }
  .code{
      fill: white;
  }
  @media only screen 
   and (min-width : 768px) {
   /* Styles here */
   .navbar h1{
       font-size: 30px;
   }
   
   ul{
       display: flex;
   }
   li{
       font-size:20px;
       padding:0px 20px;
   }
}
  @media screen and (min-width: 1281px) and (max-width: 1440px) {
    .desktop-nav{
      display: flex;
    }
    .bm-burger-button {
    
      display: none;
    }
  }
  
  @media screen and (min-width: 1441px) and (max-width: 1920px) {
    .desktop-nav{
      display: flex;
    }
    .bm-burger-button {
      
      display: none;
    }

  }
  @media screen and (min-width:2560px){
    .desktop-nav{
      display: flex;
    }
    .bm-burger-button {
      
      display: none;
    }
  }

