*{margin: 0;
padding:0;}
.footer-wrapper{
    height: auto;
    padding:10px;
    width:100%;
    background-color: black;
    color: white;
    text-align: center;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
